* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    background-color: #fff;
}
#navbar {
    position: sticky;
    z-index: 999;
    background-color: #001928;
    height: 20vh;
}
#mainsection {
    padding: 24px;
    background-color: #001928;
}
#logo {
    size: '100x100';
}
#nomad {
    background-color: brown;
    size: '100x100';
}