html, body{
    background-color: brown;
    color: #001928;
}
#root {
    margin-top: 2.6rem;
    padding-bottom: 0.26rem;
    border-color: #abcdef;
    border-style: solid;
    /* border-spacing: ; */
    background-color: rgba(0, 0, 0, 0);
}
#greeting {
    color: #abcdef;
    text-transform: capitalize;
}
#noicetomlink {
    text-transform: uppercase;
    font-size: xx-large;
    letter-spacing: 0.8rem;
    text-decoration: none;
    /* color: ; */
}