* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
html, body {
    background-color: #fff;
    position: fixed;
}
#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    z-index: 999;
    background-color: #001928;
}
#mainsection {
    padding: 24px;
    background-color: #001928;
}
#logo-image {
    size: '100x100';
}
#nomad {
    background-color: brown;
    size: '100x100';
}